body {
  font-family: Raleway;
  overflow-x: hidden; }

.centered {
  max-width: 1250px;
  margin: 0 auto; }

nav {
  background-color: white; }
  nav .logo {
    height: 50px;
    display: block; }
  nav .navbar-nav .nav-link {
    color: #121117;
    font-size: 18px;
    line-height: 24px; }
  nav .ml-auto i.fab {
    font-size: 30px;
    margin-left: 15px; }
  nav .ml-auto button.dropdown-button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    font-size: 30px; }
    nav .ml-auto button.dropdown-button:focus {
      outline: none; }
  nav .ml-auto .nav-flag {
    height: 30px;
    margin-left: 25px; }
  nav .dropdown {
    position: relative; }
  nav .dropdown-content {
    transform: scale(0);
    position: absolute;
    min-width: 260px;
    top: 30px;
    height: 50px;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    transform-origin: left; }
  nav .transform-scale {
    transform: scale(1); }
  nav button.fa-check {
    background-color: #28a745;
    color: white; }

#main .row .col-md-4 {
  padding-left: 8px;
  padding-right: 8px; }
#main a {
  position: relative; }
  #main a:hover .item-info {
    top: -30px; }
  #main a .item-info {
    position: absolute;
    width: 80%;
    margin-left: 20px;
    top: -15px;
    color: white;
    font-weight: 700;
    transition: top 0.3s ease-in-out; }
    #main a .item-info h2 {
      font-size: 20px;
      margin-top: 20px; }
    #main a .item-info .category-name {
      border-left: 5px solid #0b2e13; }
    #main a .item-info .bottom {
      margin-top: 30px; }
#main .item {
  background-color: black; }
  #main .item img {
    opacity: 0.8; }

#content {
  margin-top: 30px; }
  #content .category-icon {
    margin-right: 15px;
    color: #c82333; }
  #content .category-more-icon {
    font-size: 20px; }
  #content .category-header {
    border-bottom: 1px solid #eee; }
  #content .category-more a {
    color: black;
    font-size: 15px; }
  #content .category-more a:hover {
    text-decoration: none; }
  #content .category-more span {
    margin-left: 5px; }
  #content .videos .col-md-4 {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 20px; }
  #content .videos .post-view-count, #content .videos .post-time {
    color: #949494;
    line-height: 16px;
    font-size: 13px; }
  #content .videos .post-title h2 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    transition: color 0.3s ease-in-out; }
    #content .videos .post-title h2:hover {
      color: #c82333; }
  #content .videos .card-body {
    padding-bottom: 10px;
    padding-top: 10px; }
  #content .videos a {
    color: black; }
    #content .videos a:hover {
      text-decoration: none; }
  #content .post-all {
    margin-bottom: 20px; }
  #content .category-name h3 {
    font-size: 24px; }
  #content .category-name a {
    color: black; }
    #content .category-name a:hover {
      text-decoration: none; }
  #content .most-viewed-header {
    margin-left: 10px; }
    #content .most-viewed-header h2 {
      font-size: 24px; }
    #content .most-viewed-header .most-viewed-icon {
      margin-left: 20px;
      margin-right: 20px;
      color: #c82333; }
  #content .post-view-count, #content .post-time {
    color: #949494;
    line-height: 16px;
    font-size: 13px; }
  #content .post-title h2 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    transition: color 0.3s ease-in-out; }
    #content .post-title h2:hover {
      color: #c82333; }
  #content .card-body {
    padding-bottom: 10px;
    padding-top: 10px; }
  #content a {
    color: black; }
    #content a:hover {
      text-decoration: none; }
  #content .col-md-11.most-viewed-post {
    margin-top: 20px; }

.social .fab {
  background-color: #eee;
  padding: 30px;
  font-size: 25px;
  color: #5a6268; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

/*# sourceMappingURL=style.css.map */
